body {
    background-color: burlywood;
    color: black;
    font-family: arial;
    font-size: 18pt;
    background-image: url(https://wallpapercave.com/wp/wp3409248.jpg);
    background-size: 100%;
}